.addItemPanel {
  background-color: aliceblue;
  padding: 3px;
  height: 100vh;
}

.editItemPanel {
  background-color: #e3e3e3;
  border-radius: 10px;
}

.deleteItem{
  color: firebrick;
  cursor: pointer;
}

.centerd-text{
  text-align: center;
}

thead{
    text-align: center;
}